.form {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--sn-launcher-separator) !important;
}

.input {
  box-shadow: none !important;
  border: none;
  outline: none !important;
  caret-color: var(--sn-launcher-brand);

  width: 100%;
  margin: 16px !important;
  padding: 8px !important;
  font-size: 2em;
  color: var(--sn-launcher-text-primary) !important;
  background-color: transparent !important;
}

input::placeholder {
  color: var(--sn-launcher-text-info) !important;
}

input:focus,
input:active {
  outline: none;
}

.mode {
  background-color: var(--sn-launcher-surface-content);
  color: var(--sn-launcher-text-secondary);
  border-radius: 4px;
  font-size: 1.75em;
  margin-left: 16px;
  padding: 8px;
  white-space: nowrap;
}

.loading {
  position: absolute;
  right: 16px;
  top: 26px;
}
