.footerContainer {
  padding: 16px 8px;
  margin-right: 16px;
  border-top: 1px solid var(--sn-launcher-separator);
  color: var(--sn-launcher-text-secondary);

  display: flex;
  column-gap: 24px;
  justify-content: flex-end;
}

.mark {
  display: grid;
  grid-auto-flow: column;
  column-gap: 6px;
  align-items: center;
}

.markSign,
.markTextSign {
  padding: 3px 5px;
  font-size: 1.15em;
  display: inline-grid;
  place-content: center;
  background-color: var(--sn-launcher-surface-info);
  border-radius: 4px;
  line-height: 100%;
}

.markTextSign {
  font-size: 0.85em;
  padding: 5px;
}
