.menuList {
  overflow-y: auto;

  list-style: none;
  margin: 0;
  padding: 8px 10px;

  display: grid;
  row-gap: 8px;
  grid-auto-rows: max-content;
  scroll-padding-block: 8px; /* prevent menu item from cutting edge */
}

.empty {
  color: var(--sn-launcher-text-info);
  font-size: 2em;
  font-weight: 600px;
  display: grid;
  place-content: center;
}

.loadingContainer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
  align-items: center;
  place-content: center;
  font-size: 1.65em;
}

.loading {
  width: 21px !important;
  height: 21px !important;
}

.loadingText {
  color: var(--sn-launcher-text-secondary);
  font-size: 1.25em;
}
