body {
  padding-block-start: var(--size-fluid-2);
  overflow-x: hidden;
  display: grid;
  place-content: center;
  font-family: var(--font-mono);
}

.container {
  inline-size: 85ch;
  display: grid;
  gap: var(--size-8);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block-end: var(--size-4);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.gradient-text {
  background: var(--gradient-24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  font-size: var(--font-size-fluid-3) !important;
}

.platformsContainer,
.screenshot {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

h3 {
  font-size: var(--font-size-fluid-1) !important;
}

.platforms {
  display: flex;
  justify-content: space-between;
}

.chromiums {
  display: flex;
  flex: row;
  justify-content: space-between;
  gap: 1.5rem;
}

.logo {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 46px;
}

iframe {
  border-radius: 12px;
  aspect-ratio: 560 / 315;
}

footer {
  margin-block: var(--size-5);
  background: var(--gradient-24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size-fluid-0);
}

@media (max-width: 1024px) {
  body {
    align-content: start;
    padding-inline: var(--size-4);
  }

  .container {
    gap: var(--size-7);
    inline-size: calc(100vw - 2* var(--size-4));
  }

  .logo {
    width: 32px
  }
}