.content {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.labelContent,
.targetContent {
  user-select: none;
  color: var(--sn-launcher-text-primary) !important;
  font-size: 1.55em;
  user-select: none;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.targetContent {
  opacity: 0.75;
  font-size: 1.25em;
  color: var(--bp-extension-text-secondary);
}
